<header>
    <nav>
        <a href = '/'>Stock Management App</a>
        <ul>
            <a href = '/customers'>Customers</a>
            <a href = '/customers/new'>Add Customer</a>
            <a href = '/'>Stock Management App</a>
            <a href = '/'>Stock Management App</a>
            <a href = '/'>Stock Management App</a>
            <a href = '/'>Stock Management App</a>
        </ul>
    </nav>
</header>